
body{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#app{
    height: 100%;
}
.deity{
    height: 100%;
}
.cardBox{
    height: 100%;
    position: relative;
    margin: 0 auto;
    max-width:600px;
    background: #263630;
}
.endbox{
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}
.startbox{
    color: #ffffff;
    text-align: center;
    margin-top: 40%;
    .startbutton{
        border:1px solid #ffffff;;
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;
        width: 100px;
    }
}

.timebox{
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
}
.card{
    border-radius: 6px;
    position: absolute;
    // width: 80px;
    height:120px;
    border: solid 1px #333;
    transition:transform 0.5s;
    
}
.preloader {
    width: 0;
    height: 0;
    display: inline;
}
.preloader1 {background-image:url(../assets/pokemon052.png);}
.preloader2 {background-image:url(../assets/pokemon007.png);}
.preloader3 {background-image:url(../assets/pokemon001.png);}
.preloader4 {background-image:url(../assets/pokemon025.png);}
.preloader5 {background-image:url(../assets/pokemon004.png);}
.preloader6 {background-image:url(../assets/pokemon054.png);}
.preloader7 {background-image:url(../assets/timgball.jpeg);}


.card1{background:url(../assets/pokemon052.png)0 0 no-repeat#ffffff;background-size:100%;background-position:center;}
.card2{background:url(../assets/pokemon007.png)0 0 no-repeat#ffffff;background-size:100%;background-position:center;}
.card3{background:url(../assets/pokemon001.png)0 0 no-repeat#ffffff;background-size:100%;background-position:center;}
.card4{background:url(../assets/pokemon025.png)0 0 no-repeat#ffffff;background-size:100%;background-position:center;}
.card5{background:url(../assets/pokemon004.png)0 0 no-repeat#ffffff;background-size:100%;background-position:center;}
.card6{background:url(../assets/pokemon054.png)0 0 no-repeat#ffffff;background-size:100%;background-position:center;}
.card:hover
{
    box-shadow: 0 0 40px #aaa;

}
.back{
    background: url(../assets/timgball.jpeg)0 0 no-repeat #efefef;
    background-position:center;
    background-size:95%;
    z-index: 8;
}
.front{
    /*保证牌底在牌面下面，z-index值切换为小值*/
    z-index: 8;
    transform: rotateY(180deg);
}
.back{
    /*保证牌底在牌面上面，z-index值切换为大值*/
    z-index: 10;
    /*前面牌面已经翻过去，现在返回来*/
    transform: rotateY(0deg);
}
/*移除牌*/
.cardHide{
    visibility: hidden;
}